<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:g_recaptcha:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div class='editer-groupe'>
			[(#SAISIE{input, g_recaptcha_key,
				label=Clé API Google Recaptcha publique,
				explication=""})]
		</div>
		<div class='editer-groupe'>
			[(#SAISIE{input, g_recaptcha_key_private,
				label=Clé API Google Recaptcha privé,
				explication=""})]
		</div>

		<input type="hidden" name="_meta_casier" value="g_recaptcha" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
