[(#AUTORISER{configurer,_g_recaptcha}|sinon_interdire_acces)]

<h1 class="grostitre"><:g_recaptcha:titre_page_configurer_g_recaptcha:></h1>

<div class="ajax">
	#FORMULAIRE_CONFIGURER_G_RECAPTCHA
</div>
